{% extends "base.html" %}

{% block title %}
    {% if class.letter %}
        Управление {{ class.class_number }} "{{ class.letter }}" классом {{ school.name }}
    {% else %}
        Управление {{ class.class_number }} классом {{ school.name }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 25px">
        <h1 style="text-align: center">
            {% if class.letter %}
                Управление {{ class.class_number }} "{{ class.letter }}" классом {{ school.name }}
            {% else %}
                Управление {{ class.class_number }} классом {{ school.name }}
            {% endif %}
        </h1>
    </div>
    <div class="container" style="margin-top: 25px">
        <h3 style="text-align: center">
            Редактировать класс
        </h3>
        <div class="row justify-content-center align-items-center">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.class_number.label(class="form-label") }}*
                    {{ form.class_number(class="form-control", placeholder='11') }}
                    {% for error in form.class_number.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.letter.label(class="form-label") }}
                    {{ form.letter(class="form-control",
                    placeholder="А") }}
                    {% for error in form.letter.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div>
                    {{ form.submit(type="submit", class="btn btn-success") }}
                </div>
            </form>
        </div>
    </div>
    {% if is_deleting_class %}
        <div class="container" style="margin-top: 25px">
            <h3 style="text-align: center">
                Управлять классом
            </h3>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteClass">
                    <i class="bi bi-trash"></i> Удалить класс
                </button>
                <div class="modal fade" id="deleteClass" tabindex="-1"
                     aria-labelledby="deleteClassModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteClassModalLabel">
                                    Удалить класс?
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Вы удалите данные класса безвозвратно. <u>Это действие отменить невозможно.</u></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">
                                    Отмена
                                </button>
                                <a href="{{ url_for("schools.school.classes.school_class.delete_class", school_id=school.id, class_id=class.id) }}"
                                   class="btn btn-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
