{% extends "base.html" %}

{% block title %}
    Завершение регистрации
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container" style="margin-top: 25px">
            <h1 style="text-align: center">
                Завершение регистрации
            </h1>
        </div>
        <div class="row justify-content-center align-items-center">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-text">
                    Придумайте логин и пароль для дальнейшего входа в аккаунт
                </div>
                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
                <div class="mb-3">
                    {{ form.login.label(class="form-label") }}*
                    {{ form.login(class="form-control", placeholder="user") }}
                    <div class="form-text">
                        Ваш логин может содержать только буквы английского алфавита и цифры. Регистр
                        логина не учитывается (user = USER = User)
                    </div>
                    {% for error in form.login.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}*
                    {{ form.password(class="form-control", type="password") }}
                    <div class="form-text">
                        Ваш пароль не должен содержать пробелов и букв алфавита, отличного от
                        английского. Рекомендуем создать надёжный пароль, который будет состоять из
                        8-20 символов и содержать буквы, цифры и специальные символы.
                    </div>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.password_again.label(class="form-label") }}*
                    {{ form.password_again(class="form-control", type="password") }}
                    {% for error in form.password_again.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div>
                    {{ form.submit(type="submit", class="btn btn-success") }}
                    <div class="form-text">
                        Нажимая на кнопку "Подтвердить", вы даёте согласие на обработку и хранение персональных данных
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
