{% extends "base.html" %}

{% block title %}
    {{ school.name }}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 25px">
        <h1 style="text-align: center">
            {{ school.name }}
            {% if "editing_school" in permissions or ("editing_self_school" in permissions and current_user.school_id == school.id) %}
                <a href="{{ url_for(".edit_school", school_id=school.id) }}" class="bi bi-gear"
                   style="color: inherit"></a>
            {% endif %}
        </h1>
    </div>
    <div class="container" style="margin-top: 25px">
        <p>{{ school.fullname }}</p>
    </div>
    <div class="container" style="margin-top: 25px">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    Классы
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for(".users", school_id=school.id) }}">Сотрудники</a>
            </li>
        </ul>
    </div>
    <div class="container" style="margin-top: 50px">
        <div class="container-fluid" style="margin-top: 25px">
            {% if "adding_classes" in permissions %}
                <a href="{{ url_for("schools.school.classes.add_class", school_id=school.id) }}"
                   class="btn btn-success"><i class="bi bi-plus-lg"></i> Добавить класс</a>
            {% endif %}
            {#            {% if "editing_school" in permissions or ("editing_self_school" in permissions and current_user.school_id == school.id) %}#}
            {#                <a href="{{ url_for("schools.school.download_school_excel", school_id=school.id) }}"#}
            {#                   class="btn btn-outline-success">#}
            {#                    Скачать таблицу всех учеников в формате Excel#}
            {#                </a>#}
            {#            {% endif %}#}
        </div>
        <div class="container" style="margin-top: 25px">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Класс</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for class in classes %}
                    <tr>
                        <td>
                            {% if class.letter %}
                                {{ class.class_number }} "{{ class.letter }}"
                            {% else %}
                                {{ class.class_number }}
                            {% endif %}
                            {% if current_user.class_id == class.id %}
                                <span class="badge bg-secondary">ваш</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if "view_details_classes" in permissions or ("view_self_details_class" in permissions and current_user.class_id == class.id) %}
                                <a href="{{ url_for("schools.school.classes.school_class.class_info", school_id=school.id, class_id=class.id) }}"
                                   class="btn btn-primary">Открыть</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
