{% extends "base.html" %}

{% block title %}
    Панель администратора
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 25px">
        <h1 style="text-align: center">Образовательные учреждения</h1>
    </div>
    <div class="container" style="margin-top: 25px">
        <a href="{{ url_for("add_school") }}" class="btn btn-success">Добавить образовательное учреждение</a>
    </div>
    <div class="container" style="margin-top: 25px">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for school in schools %}
                <tr>
                    <th scope="row">{{ school.id }}</th>
                    <td>{{ school.name }}</td>
                    <td>
                        <a href="{{ url_for("school_info", school_id=school.id) }}" class="btn btn-primary">
                            Открыть
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container-fluid" style="margin-top: 25px; justify-content: center; display: inline-flex">
        <a href="{{ url_for("download_db") }}" class="btn btn-primary">
            Скачать базу данных
        </a>
        <a href="{{ url_for("download_files") }}" class="btn btn-success">
            Скачать файлы
        </a>
    </div>
{% endblock %}