{% extends "base.html" %}

{% block title %}
    {% if class.letter %}
        {{ class.class_number }} "{{ class.letter }}" класс {{ school.name }}
    {% else %}
        {{ class.class_number }} класс {{ school.name }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 25px">
        <h1 style="text-align: center">
            {% if class.letter %}
                {{ class.class_number }} "{{ class.letter }}" класс {{ school.name }}"
            {% else %}
                {{ class.class_number }} класс {{ school.name }}
            {% endif %}
        </h1>
    </div>
    {% if "editing_classes" in permissions or ("editing_self_class" in permissions and current_user.class_id == class.id) %}
        <div class="container" style="margin-top: 25px">
            <a href="{{ url_for("edit_class", school_id=school.id, class_id=class.id) }}" class="btn btn-primary">
                Редактировать класс
            </a>
        </div>
    {% endif %}
    <div class="container" style="margin-top: 50px">
        {% if class_teacher %}
            <p>Классный руководитель: {{ class_teacher.fullname }}</p>
            {% if ("editing_classes" in permissions or ("editing_self_class" in permissions and current_user.class_id == class.id) or current_user.id == class_teacher.id) %}
                <a href="{{ url_for("profile_user", user_id=class_teacher.id) }}"
                   class="btn btn-primary">
                    Открыть
                </a>
            {% endif %}
        {% else %}
            {% if ("editing_classes" in permissions or ("editing_self_class" in permissions and current_user.class_id == class.id) or current_user.id == class_teacher.id) %}
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Добавить классного руководителя
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for("add_class_teacher", class_id=class.id, school_id=school.id) }}"
                               class="dropdown-item">
                                Создать новый аккаунт
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for("add_existing_class_teacher", class_id=class.id, school_id=school.id) }}"
                               class="dropdown-item">
                                Добавить из существующих учителей/модераторов
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if "editing_classes" in permissions or ("editing_self_class" in permissions and current_user.class_id == class.id) %}
        <div class="container" style="margin-top: 50px">
            <h3 style="text-align: center">QR код</h3>
            <div style="justify-content: center; display: flex">
                <a href="{{ url_for("generate_qrcode", class_id=class.id, school_id=school.id) }}"
                   class="btn btn-success">
                    Сгенерировать QR код
                </a>
            </div>
            {% if class.qr %}
                <img src="/static/files/qrcodes/classes/{{ class.qr }}" class="rounded mx-auto d-block" alt="QR код">
            {% endif %}
        </div>
    {% endif %}

    <div class="container" style="margin-top: 50px">
        <div class="container" style="margin-top: 25px">
            <h3 style="text-align: center">Ученики</h3>
        </div>
        <p class="fs-5 fw-bold">Общее количество учеников: {{ students|length }}</p>
        {% if "editing_classes" in permissions or ("editing_self_class" in permissions and current_user.class_id == class.id) %}
            <div class="container-fluid" style="margin-top: 25px">
                <a href="{{ url_for("add_student", school_id=school.id, class_id=class.id) }}" class="btn btn-success">
                    Добавить ученика
                </a>
                <a href="{{ url_for("download_excel", school_id=school.id, class_id=class.id) }}"
                   class="btn btn-outline-success">
                    Скачать таблицу в формате Excel
                </a>
            </div>
        {% endif %}
        <div class="container" style="margin-top: 25px">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Фамилия Имя Отчество</th>
                    {% if "editing_classes" in permissions or ("editing_self_class" in permissions and current_user.class_id == class.id) %}
                        <th scope="col">В школе?</th>
                        <th scope="col">Время прибытия <a href="{{ url_for("weekly_schedule", school_id=school.id, class_id=class.id) }}" class="bi bi-list" style="color: #000000"></a></th>
                        <th scope="col">Ключ</th>
                    {% endif %}
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for student in students %}
                    <tr>
                        <td>
                            {{ student.fullname }}
                            {% if student.id == current_user.id %}
                                <span class="badge bg-secondary">вы</span>
                            {% endif %}
                        </td>
                        {% if "editing_classes" in permissions or ("editing_self_class" in permissions and current_user.class_id == class.id) %}
                            <td>
                                {% if student.is_arrived %}
                                    Да
                                {% elif student.is_arrived == False %}
                                    Нет
                                {% endif %}
                            </td>
                            <td>
                                {% if student.arrival_time %}
                                    {{ student.arrival_time.time().strftime("%H:%M") }}
                                {% endif %}
                            </td>
                            <td>
                                {% if student.key %}
                                    {{ student.key }}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            {% if ("editing_classes" in permissions or ("editing_self_class" in permissions and current_user.class_id == class.id) or current_user.id == student.id) %}
                                <form action="" method="post">
                                    <a href="{{ url_for("profile_user", user_id=student.id) }}"
                                       class="btn btn-primary">
                                        Открыть
                                    </a>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if "deleting_classes" in permissions or ("deleting_self_class" in permissions and current_user.class_id == class.id) %}
        <div class="container" style="justify-content: center; display: flex">
            <a href="{{ url_for("delete_class", school_id=school.id, class_id=class.id) }}" class="btn btn-danger">
                Удалить класс
            </a>
        </div>
    {% endif %}
{% endblock %}
