{% extends "base.html" %}

{% block title %}
    {% if class.letter %}
        Редактировать {{ class.class_number }} "{{ class.letter }}" класс {{ school.name }}
    {% else %}
        Редактировать {{ class.class_number }} класс {{ school.name }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <legend style="text-align: center">
                    {% if class.letter %}
                        Редактировать {{ class.class_number }} "{{ class.letter }}" класс {{ school.name }}
                    {% else %}
                        Редактировать {{ class.class_number }} класс {{ school.name }}
                    {% endif %}
                </legend>
                <div class="mb-3">
                    {{ form.class_number.label(class="form-label") }}*
                    {{ form.class_number(class="form-control", placeholder='11') }}
                    {% for error in form.class_number.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.letter.label(class="form-label") }}
                    {{ form.letter(class="form-control",
                    placeholder="А") }}
                    {% for error in form.letter.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div>
                    {{ form.submit(type="submit", class="btn btn-success") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
