{% extends "base.html" %}

{% block title %}
    Профиль
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 25px">
        <h1 style="text-align: center">Профиль</h1>
    </div>
    <div class="container" style="margin-top: 25px">
        <h2 style="text-align: center">
            {{ user.fullname }}
        </h2>
        {% set statuses_titles = [] %}
        {% for status in statuses %}
            {% set statuses_titles = statuses_titles.append(status.title) %}
        {% endfor %}
        <p style="text-align: center">
            {{ statuses_titles|join(", ") }}
        </p>
        {% if "Ученик" in statuses_titles %}
            <p style="text-align: center">{{ class_name }}</p>
        {% endif %}
        {% if current_user.id == user.id %}
            <p class="fs-3" style="text-align: center">Логин: {{ user.login }}</p>
        {% endif %}
        <p class="fs-3" style="text-align: center">ID: {{ user.id }}</p>
        {% if user.key %}
            <p class="fs-3" style="text-align: center">Ключ: {{ user.key }}</p>
        {% endif %}
        {% if current_user.id == user.id %}
            {% if "editing_profile" in permissions %}
                <div class="dropdown" style="justify-content: center; display: flex">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Редактировать
                    </button>
                    <ul class="dropdown-menu">
                        {% if "changing_fullname" in permissions %}
                            <li>
                                <a href="{{ url_for('change_fullname', user_id=user.id) }}" class="dropdown-item">
                                    Изменить ФИО
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                        {% if "changing_login" in permissions %}
                            <li>
                                <a href="{{ url_for('change_login') }}" class="dropdown-item">
                                    Изменить логин
                                </a>
                            </li>
                        {% endif %}
                        {% if "changing_password" in permissions %}
                            <li>
                                <a href="{{ url_for('change_password') }}" class="dropdown-item">
                                    Изменить пароль
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% else %}
            <div class="dropdown" style="justify-content: center; display: flex">
                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Редактировать
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url_for('change_fullname', user_id=user.id) }}" class="dropdown-item">
                            Изменить ФИО
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a href="" class="dropdown-item">
                            Удалить пользователя
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}