{% extends "base.html" %}

{% block title %}
    Таблица приходов учеников
    {% if class.letter %}
        {{ class.class_number }}-го "{{ class.letter }}" класса {{ school.name }}
    {% else %}
        {{ class.class_number }}-го класса {{ school.name }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 25px">
        <h1 style="text-align: center">
            Таблица приходов учеников
            {% if class.letter %}
                {{ class.class_number }}-го "{{ class.letter }}" класса {{ school.name }}
            {% else %}
                {{ class.class_number }}-го класса {{ school.name }}
            {% endif %}
            <span class="badge bg-secondary">β</span>
        </h1>
    </div>
    <div class="container" style="margin-top: 25px">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Неделя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Месяц</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Год</a>
            </li>
        </ul>
    </div>

    <div class="container" style="margin-top: 25px">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Фамилия Имя Отчество</th>
                {% for weekday in ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"] %}
                    {% if loop.index0 == wd %}
                        <th scope="col" class="table-active">{{ weekday }}</th>
                    {% else %}
                        <th scope="col">{{ weekday }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for student in students %}
                <tr>
                    <td>
                        {{ student.fullname }}
                        {% if student.id == current_user.id %}
                            <span class="badge bg-secondary">вы</span>
                        {% endif %}
                    </td>
                    {% for weekday in weekdays %}
                        {% if loop.index0 == wd %}
                            <td class="table-active">
                                {% if schedule[student.fullname][weekday] %}
                                    {{ schedule[student.fullname][weekday] }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td>
                                {% if schedule[student.fullname][weekday] %}
                                    {{ schedule[student.fullname][weekday] }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}