<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>
        {% block title %}
        {% endblock %} — ENTER
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column min-vh-100">
{% if not without_header %}
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for("home") }}">
                    <img src="{{ url_for('static', filename='logos/enter.svg') }}"
                         alt="ENTER для образовательных учреждений" height="24">
                    <span class="badge text-bg-primary">
                        для школ
                        <span class="visually-hidden">для образовательных учреждений</span>
                    </span>
                </a>
                {% if current_user.is_authenticated %}
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if "5" in current_user.roles.split(", ") %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for("control_panel.schools_list") }}">
                                        <i class="bi bi-toggles"></i> Панель управления
                                    </a>
                                </li>
                            {% endif %}
                            {% if not (current_user.roles.split(", ") == ["1", "6"] or current_user.roles.split(", ") == ["6", "1"] or current_user.roles.split(", ") == ["1"] or current_user.roles.split(", ") == ["6"]) %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ url_for("admit.admit") }}">
                                        <i class="bi bi-check-circle"></i> Отметить присутствующих
                                    </a>
                                </li>
                            {% endif %}
                            {% if current_user.school_id %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ url_for("schools.school.classes_list", school_id=current_user.school_id) }}">
                                        <i class="bi bi-building"></i> Моя школа
                                    </a>
                                </li>
                            {% endif %}
                            {% if current_user.class_id %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ url_for("schools.school.classes.school_class.class_info", school_id=current_user.school_id, class_id=current_user.class_id) }}">
                                        <i class="bi bi-mortarboard"></i> Мой класс
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="d-flex">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ current_user.fullname }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for("profile.profile") }}">Профиль</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li><h6 class="dropdown-header">Главная страница</h6></li>
                                    <li>
                                        {% if current_user.home_page == "profile" %}
                                            <a class="dropdown-item active" href="#" aria-current="true">Профиль</a>
                                        {% else %}
                                            <a class="dropdown-item"
                                               href="{{ url_for("profile.change_home_page", page="profile") }}">
                                                Профиль
                                            </a>
                                        {% endif %}
                                    </li>
                                    {% if current_user.class_id %}
                                        <li>
                                            {% if current_user.home_page == "my_class" %}
                                                <a class="dropdown-item active" href="#" aria-current="true">
                                                    Мой класс
                                                </a>
                                            {% else %}
                                                <a class="dropdown-item"
                                                   href="{{ url_for("profile.change_home_page", page="my_class") }}">
                                                    Мой класс
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                    {% if current_user.school_id %}
                                        <li>
                                            {% if current_user.home_page == "my_school" %}
                                                <a class="dropdown-item active" href="#" aria-current="true">
                                                    Моя школа
                                                </a>
                                            {% else %}
                                                <a class="dropdown-item"
                                                   href="{{ url_for("profile.change_home_page", page="my_school") }}">
                                                    Моя школа
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                    {% if "5" in current_user.roles.split(", ") %}
                                        <li>
                                            {% if current_user.home_page == "control_panel" %}
                                                <a class="dropdown-item active" href="#" aria-current="true">
                                                    Панель управления
                                                </a>
                                            {% else %}
                                                <a class="dropdown-item"
                                                   href="{{ url_for("profile.change_home_page", page="control_panel") }}">
                                                    Панель управления
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endif %}

                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for("auth.logout") }}">Выйти</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
{% endif %}

{% block content %}
{% endblock %}

{% if not without_header %}
    <footer class="mt-auto container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
            style="margin-top: auto;">
        <a href="https://vk.com/aftcis"
           class="col-md-4 mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="{{ url_for("static", filename="logos/aftservices.svg") }}" alt="AFT Services" height="24"
                 style="opacity: 0.5">
        </a>
        <span class="text-muted">© 2023</span>
    </footer>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>