<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>
        {% block title %}
        {% endblock %} — Мой класс
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

{% if not without_header %}
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand mb-0 h1" href="{{ url_for("home") }}">Мой класс</a>
                {% if current_user.is_authenticated %}
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if "5" in current_user.roles.split(", ") %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for("admin_tools.admin_panel") }}">
                                        Панель администратора
                                    </a>
                                </li>
                            {% endif %}
                            {% if not (current_user.roles.split(", ") == ["1", "6"] or current_user.roles.split(", ") == ["6", "1"] or current_user.roles.split(", ") == ["1"] or current_user.roles.split(", ") == ["6"]) %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ url_for("admit.admit") }}">
                                        Отметить присутствующих
                                    </a>
                                </li>
                            {% endif %}
                            {% if current_user.school_id %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ url_for("schools.school.school_info", school_id=current_user.school_id) }}">
                                        Моя школа
                                    </a>
                                </li>
                            {% endif %}
                            {% if current_user.class_id %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ url_for("schools.school.classes.school_class.class_info", school_id=current_user.school_id, class_id=current_user.class_id) }}">
                                        Мой класс
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="d-flex">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ current_user.fullname }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for("profile.profile") }}">Профиль</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for("auth.logout") }}">Выйти</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
{% endif %}

<body>

{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>